$primary : #ff5400;
$font-light: #fff;
$font-grey: #778;
$font-dark: #000;

$border-light: #fff;
$border-grey-light: #a7a7a7;
$border-grey: #444444;

$backgound-light: #fff;
$backgound-grey-light: #eee;
$backgound-grey : #a7a7a7;
$backgound-grey-dark: #363636;
$backgound-dark: #151515;
$backgound-dark-absolute: #000;

$success : #69af00;

